.btnModal {
  display: block;
  font-size: 1.1em;
  margin: auto;
  font-weight: bold;
  background: transparent;
  border: none;
  position: relative;
  color: #fff;
}

.btnModal:hover {
  transition: .3s ease-in;
  cursor: pointer;
  color: #00f7ff;
}

.btnModal:hover .clickMeImg {
  display: none;
}

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.modal.is-open {
  display: flex;
}
.modal-container {
  position: relative;
  padding: 2rem 4rem;
  /* background-color: #424855; */
  background: hsla(191, 87%, 44%, 1);

  background: linear-gradient(
    135deg,
    hsla(191, 87%, 44%, 1) 0%,
    hsla(195, 100%, 24%, 1) 100%
  );
  min-width: 320px;
  max-width: 600px;
  min-height: 320px;
  max-height: 700px;
  overflow-y: hidden;
  border-radius: 25px;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.modal-container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* Explination Modals */

.ExplinationModal {
  font-family: "Share Tech", sans-serif;
  color: white;
  justify-content: center;
  align-items: center;
}

.ExplinationModal h3 {
  text-align: center;
  font-size: 30px;
}

.ExplinationModal p {
  font-size: 18px;
}

.ExplinationModal li {
  margin-top: 10px;
}

.ExplinationModal a {
  color: #08e200;
}

.ExplinationModalBtn {
  appearance: none;
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font: inherit;
  font-weight: 500;
  line-height: 1;
  padding: 1em 1.5em;
  position: relative;
  transition: filter var(--motion-duration);
}

.ExplinationModalBtn:hover {
  filter: brightness(1.1);
}

.ExplinationModalBtn:active {
  filter: brightness(0.9);
}

.ExplinationModalBtn > span {
  display: block;
  position: relative;
  transition: transform var(--motion-duration) var(--motion-ease);
  z-index: 1;
}

.ExplinationModalBtn:hover > span {
  transform: scale(1.05);
}

.ExplinationModalBtn:active > span {
  transform: scale(0.95);
}

.ExplinationModalBtn > svg {
  fill: #0ca4be;
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
}

.ExplinationModalBtn > svg > path {
  transition: var(--motion-duration) var(--motion-ease);
}

.ExplinationModalBtn:hover > svg > path {
  d: path(
    "M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0"
  );
}

.ExplinationModal img {
  width: 500px;
}

.clickMeImg {
  position: absolute;
  width: 50px;
  animation-delay: 1s;
  top: 6px;
}

.LogoImg {
  width: 70px;
  padding: .5rem;
  border-radius: 15px;
}